<!DOCTYPE html>
<html>
  <body>
    <div style="font-size: 18px">
      <p>[GongHa] 회원 가입을 위한 인증번호 입니다.</p>
      <p>
        <span style="color: #285943; font-weight: bold"> <%= authCode %> </span
        >를 입력하여 인증을 완료해주세요.
      </p>
    </div>
  </body>
</html>
